name: CI

on: 
  # Run the jobs on either push or a pull_request, but not both.
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

concurrency:
  group: ${{ github.ref_name }}-ci
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        lang:
          - python
          - cpp
          - java
          - javascript

    steps:
    - uses: actions/checkout@v3
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'poetry'
    - name: Install Prerequisites
      run: poetry install --no-root
    - name: Configure Build & Test
      env:
        LANG: ${{ matrix.lang }}
      run: poetry run python build.py --outdir=$(pwd)/CGMES_2.4.15_27JAN2020 --schemadir=$(pwd)/cgmes_schema/CGMES_2.4.15_27JAN2020 --langdir=$LANG
